#timeline-container {
    overflow-x: scroll;
    margin: 2em;
    position: relative;
}

#timeline-table {
    border-collapse: collapse;
    margin: 2em;
}

#timeline-table-tics > td {
    padding: 1em;
    border: none;
}

#timeline-table-tics > td:nth-child(even) {
    border-left: 1px solid beige;
}

#timeline-table-labels > td {
    text-align: center;
    padding-top: 1em;
}

#remove > p {
    text-align: center;
}
